<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My test suite" parallel="methods" thread-count="10"
	configfailurepolicy="continue">
	<listeners>
		<listener class-name="com.n11.utility.AnnotationTransformer" />
	</listeners>
	<test name="testing">
		<packages>
			<package name="com.n11.test" />
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->
